@charset "UTF-8";

/*
     em HTML é id    = em CSS é #
     em HTML é class = em CSS é .

*/

body {
    background-color: rgb(191, 243, 226);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 196, 132);
}

h1#principal {
       text-align: center;
       background-color:rgb(4, 196, 132); 
       color: white;
}

h2 {
    color: rgb(43, 61, 55);
}

.basico {
    color:#3c805e ;
}

.intermediario {
    color: #80793c ;
}

.avancado {
    color:#803c3c ;
}